

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.mainView {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #21122b, #0d0909);
    overflow: hidden;
}

.profile-image {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    right: 15px;
    top: 10px;
    cursor: pointer;
    color: #9b9999;
    transition: color 0.3s ease;
    border: #9b9999 solid;
    border-radius: 25px;
    z-index: 1000;
}

.suggestion-container {
    color: #fff;
    border-radius: 7px;
    position: absolute;
    bottom: 64px;
    left: 51.8%;
    width: calc(100% - 40px);
    max-width: 670px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
    scrollbar-width: none;
}

.mantine-Chip-checkIcon {
    display: none;
}

.question-list {

    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 1;
    scrollbar-width: none;

}

.question-item {
    cursor: pointer;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 25px;
    border-radius: 8px;
    text-align: right;
}

.question-item:hover {
    background-color: rgb(45, 41, 41);
}

.profile-image:hover {
    color: #d0cfcf;
}

.shifted {
    transform: translateX(-30px);
    transition: transform 1s ease;
}

.not-shifted {
    transform: translateX(30px);
    transition: transform 1s ease;
}

#user,
#bot {
    display: inline-block;
    align-items: center;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 50%;
    white-space: pre-wrap;
}

#user {
    background-color: #2f2b5a;
    color: #fff;
    text-align: right;
    float: right;
    clear: both;
}
.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
}



.feedback-buttons {
    display: flex;
    width: 100%;
    position: absolute; 
    top: 100%; 
    left: 52%; 
    transform: translateX(-50%); 
}

.feedback-buttons button {
    background-color: transparent; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 9px;
}



@keyframes slideIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


#bot {
    background-color: #3b2652;
    color: #fff;
    text-align: right;
    float: left;
    clear: both;
    animation: slideIn 0.5s ease;
}

.typing-indicator {
    display: flex;
    gap: 5px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 14px;
    background-color: #3b2652;
    color: #fff;
    float: left;
    clear: both;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
    animation-delay: 0.2s;
}

.dot:nth-child(2) {
    animation-delay: 0.4s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.conversation {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20%;
    bottom: 16%;
    padding-top: 105px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    width: 80%;
    max-width: 1050px;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 60px;
    z-index: 0;

}

.arrow-icon {
    cursor: pointer;
    position: relative;
    bottom: 60px;
    background-color: #333;
    border-radius: 50px;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
}

.arrow-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

.conversation ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    color: #d0cfcf;
    height: 100%;
    overflow-y: unset;
    z-index: 0;
}

.conversation::-webkit-scrollbar {
    display: none;

}

.conversation::-webkit-scrollbar-track {
    background: #502869;
    left: 10px;


}

.conversation::-webkit-scrollbar-thumb {
    background: #371b48;
    left: 10px;

}

.conversation::-webkit-scrollbar-thumb:hover {
    background: #341945;
    left: 10px;

}


.send-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: -8px;
    left: 20px;
    right: 20px;
    margin: auto;
    padding: 5px;
    width: 100%;
    max-width: 775px;
    box-sizing: border-box;
    z-index: 0;
}

.input-msg {
    background-color: rgb(0, 0, 0);
    border: 1px solid #3f6eb3;
    color: white;
    border-radius: 24px;
    padding: 20px 45px 12px 20px;
    font-size: 18px;
    direction: rtl;
    resize: none;
    width: calc(100% - 20px);
    box-sizing: border-box;
    overflow-y: hidden;
    transition: transform 1s ease;
    max-height: 200px;
    line-height: 1;
}

.input-msg:focus {
    border-color: #65c1fb;
    outline: none;
}


.send-btn {
    padding: 5px 10px;
    font-size: 40px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 29px;
}

.scroll-btn {
    display: block;
    position: fixed;
    bottom: 90px;
    right: 10px;
    background-color: #320f50;
    border: none;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-btn:hover {
    background-color: #3e1562;
}

.scroll-btn svg {
    color: white;
}

@media screen and (max-width: 968px) {
    .scroll-btn {
        display: none;
    }

    #user,
    #bot {
        display: flex;
        align-items: center;
        margin-bottom: 46px;
        padding: 10px;
        border-radius: 18px;
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 60%;
    }

    .conversation {
        width: 102%;
        left: 4%;
    }

    .input-msg {
        padding-right: 60px;
    }

    .send-container {
        transform: translateX(-30px);
        transition: transform 1s ease;
    }

}

@media screen and (max-width: 480px) {
    .scroll-btn {
        display: none;
    }


    .send-btn {
        font-size: 40px;
    }


    .conversation {
        width: 108%;
        left: 4%;
    }

    .input-msg {
        padding-right: 50px;
    }

    .send-container {
        transform: translateX(-30px);
        transition: transform 1s ease;
    }
}

@media screen and (max-width: 400px) {
    .scroll-btn {
        display: none;
    }


    .send-btn {
        font-size: 40px;
    }


    .conversation {
        width: 108%;
        left: 4%;
        bottom: 23%;
    }

    .input-msg {
        padding-right: 50px;
    }

    .send-container {
        transform: translateX(-30px);
        transition: transform 1s ease;
    }
}